.admin-rapid {
    width: 60vw;

    h3 {
        width: 100%;
    }
    #bout-rapide {
        background-color: azure;
    }

    [name = title],
    [name = content] {
        padding: 10px;
        margin: 10px;
    }

    [name = title] {
        width: 60vw;
    }
}